.slider {
}

.slider .thumb {
    -fx-pref-height: 32;
    -fx-pref-width: 32;

    -fx-background-radius: 16;
    -fx-border-radius: 16;

    -fx-border-width: 2;
    -fx-background-color: linear-gradient( #64A4FF, #0149AF);
    -fx-border-color: linear-gradient( #FFF612, #FFB100);
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.slider .track {

    -fx-background-color: linear-gradient(rgb(148, 148, 148), #FFFFFF);
    -fx-padding: 4;
    -fx-background-radius: 4;
}
