@font-face {
    font-family: roboto;
    src: url('roboto.ttf');
}

@font-face {
    font-family: candice;
    src: url('candice.ttf');
}

#background {
    -fx-background-image: url("background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#logo {
    -fx-background-image: url("logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-min-width: 436;
    -fx-min-height: 235;
    -fx-max-width: 436;
    -fx-max-height: 235;
}

.button {
    -fx-pref-height: 32;
    -fx-padding: 0 16;

    -fx-text-fill: white;
    -fx-font-family: 'roboto';
    -fx-font-size: 14;

    -fx-background-radius: 16;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,  #64A4FF, #0149AF);

    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%,  #FFF612, #FFB100);
    -fx-border-radius: 16;
    -fx-border-width: 2;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.button:hover {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #0149AF,  #64A4FF);
    -fx-effect: none;
}

.big-button{
    -fx-pref-height: 48;

    -fx-text-fill: white;
    -fx-font-family: 'roboto';
    -fx-font-size: 18;

    -fx-background-radius: 32;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,  #64A4FF, #0149AF);

    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%,  #FFF612, #FFB100);
    -fx-border-radius: 32;
    -fx-border-width: 2;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.big-button:hover{
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #0149AF,  #64A4FF);
    -fx-effect: none;

}

.big-button-orb{
    -fx-pref-height: 72;
    -fx-pref-width: 72;

    -fx-background-radius: 36;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,  #000000, #434343);

    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%,  #ffffff, #757575);
    -fx-border-radius: 36;
    -fx-border-width: 8;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.orb-button {
    -fx-pref-height: 48;
    -fx-pref-width: 48;

    -fx-background-radius: 24;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,  #64A4FF, #0149AF);

    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%,  #FFF612, #FFB100);
    -fx-border-radius: 24;
    -fx-border-width: 2;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.orb-button:hover {
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #0149AF,  #64A4FF);
    -fx-effect: none;
}
