@font-face {
    font-family: roboto;
    src: url('roboto.ttf');
}

@font-face {
    font-family: candice;
    src: url('candice.ttf');
}

#background {
    -fx-background-image: url("background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#glitter {
    -fx-background-color: transparent;
    -fx-background-image: url("glitter.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}


#wheel{
    -fx-background-image: url("wheel.png");
    -fx-background-size: cover;
}

#logo {
    -fx-background-image: url("logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-min-width: 512;
    -fx-min-height: 256;
    -fx-max-width: 512;
    -fx-max-height: 256;
}

#sidebar{
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,  #205BAE, #001D47);

}

.button {
    -fx-border-width: 2;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,  #64A4FF, #0149AF);
    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%,  #FFF612, #FFB100);
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 16, 0, 0.0, 4.0);
    -fx-border-color: #FFFFFF;
}

.button:pressed{
    -fx-effect: none;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #0149AF,  #64A4FF);
}

.FIR_button {
    -fx-pref-height: 32;
    -fx-padding: 0 16;

    -fx-text-fill: white;
    -fx-font-family: 'roboto';
    -fx-font-size: 14;

    -fx-background-radius: 16;
    -fx-border-radius: 16;
}

.FIR_big-button{
    -fx-pref-height: 48;

    -fx-text-fill: white;
    -fx-font-family: 'roboto';
    -fx-font-size: 18;

    -fx-background-radius: 32;
    -fx-border-radius: 32;
}

.FIR_big-button-orb{
    -fx-pref-height: 72;
    -fx-pref-width: 72;

    -fx-background-radius: 36;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,  #000000, #434343);

    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%,  #ffffff, #757575);
    -fx-border-radius: 36;
    -fx-border-width: 8;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.FIR_orb-button {
    -fx-max-height: 48;
    -fx-max-width: 48;

    -fx-min-height: 48;
    -fx-min-width: 48;

    -fx-background-radius: 24;
    -fx-border-radius: 24;
}

.FIR_textfield{
    -fx-text-fill: black;
    -fx-font-family: 'roboto';
    -fx-font-size: 24;

    -fx-background-radius: 32;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #C6C6C6, #FFFFFF);

    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, #FFFFFF, #C6C6C6);
    -fx-border-radius: 32;
    -fx-border-width: 4;

    -fx-pref-height: 64;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.FIR_label{
    -fx-text-fill: white;
    -fx-font-family: 'roboto';
    -fx-font-size: 24;
}

.FIR_buzzer {
    -fx-background-image: url("buzzer.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.FIR_buzzer:pressed {
    -fx-background-image: url("buzzer-pressed.png");
}

.FIR_big-buzzer{
    -fx-background-image: url("big-buzzer.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.FIR_big-buzzer:pressed {
    -fx-background-image: url("big-buzzer-pressed.png");
}

.FIR_title {
    -fx-text-fill: white;
    -fx-font-family: 'candice';
    -fx-font-size: 32pt;
    -fx-effect: dropshadow(gaussian, rgba(128, 128, 128, 1), 1, 0, 0.0, 4.0);
}

.FIR_player-state {
    -fx-pref-height: 64;
    -fx-background-radius: 32;
    -fx-font-family: 'roboto';
    -fx-font-size: 24;
    -fx-border-radius: 32;
    -fx-border-width: 2;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
    -fx-text-fill: black;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #C6C6C6, #FFFFFF);
    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, #FFFFFF, #C6C6C6);
}

.FIR_player-state .status{
    -fx-text-fill: rgba(0, 0, 0, 0.5);
    -fx-font-size: 16;
}

.FIR_player-state .username{
    -fx-text-fill: black;
}

.dialog{
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #fff, #999);
    -fx-background-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 16, 0, 0.0, 4.0);
}

.dialog-title {
    -fx-text-fill: #111;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.dialog-body {
    -fx-text-fill: black;
    -fx-font-size: 24;
}

.dialog{
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #fff, #999);
    -fx-background-radius: 16;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}
