@font-face {
    font-family: roboto;
    src: url('roboto.ttf');
}

@font-face {
    font-family: candice;
    src: url('candice.ttf');
}

#background {
    -fx-background-image: url("background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

#logo {
    -fx-background-image: url("logo.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-min-width: 436;
    -fx-min-height: 235;
    -fx-max-width: 436;
    -fx-max-height: 235;
}

.FIR_button {
    -fx-pref-height: 32;
    -fx-padding: 0 16;

    -fx-text-fill: white;
    -fx-font-family: 'roboto';
    -fx-font-size: 14;

    -fx-background-radius: 16;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,  #64A4FF, #0149AF);

    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%,  #FFF612, #FFB100);
    -fx-border-radius: 16;
    -fx-border-width: 2;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.FIR_button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 16, 0, 0.0, 4.0);
    -fx-border-color: #FFFFFF;
}

.FIR_button:pressed{
    -fx-effect: none;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #0149AF,  #64A4FF);
}

.FIR_big-button{
    -fx-pref-height: 48;

    -fx-text-fill: white;
    -fx-font-family: 'roboto';
    -fx-font-size: 18;

    -fx-background-radius: 32;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,  #64A4FF, #0149AF);

    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%,  #FFF612, #FFB100);
    -fx-border-radius: 32;
    -fx-border-width: 2;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.FIR_big-button:hover{
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 16, 0, 0.0, 4.0);
    -fx-border-color: #FFFFFF;
}

.FIR_big-button:pressed{
    -fx-effect: none;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #0149AF,  #64A4FF);
}

.FIR_big-button-orb{
    -fx-pref-height: 72;
    -fx-pref-width: 72;

    -fx-background-radius: 36;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,  #000000, #434343);

    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%,  #ffffff, #757575);
    -fx-border-radius: 36;
    -fx-border-width: 8;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.FIR_orb-button {
    -fx-pref-height: 48;
    -fx-pref-width: 48;

    -fx-background-radius: 24;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%,  #64A4FF, #0149AF);

    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%,  #FFF612, #FFB100);
    -fx-border-radius: 24;
    -fx-border-width: 2;

    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.FIR_orb-button:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 16, 0, 0.0, 4.0);
    -fx-border-color: #FFFFFF;
}

.FIR_orb-button:pressed{
    -fx-effect: none;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #0149AF,  #64A4FF);
}

.FIR_textfield{
    -fx-text-fill: black;
    -fx-font-family: 'roboto';
    -fx-font-size: 24;

    -fx-background-radius: 32;
    -fx-background-color: linear-gradient(from 50% 0% to 50% 100%, #C6C6C6, #FFFFFF);

    -fx-border-color: linear-gradient(from 50% 0% to 50% 100%, #FFFFFF, #C6C6C6);
    -fx-border-radius: 32;
    -fx-border-width: 4;

    -fx-pref-height: 64;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.25), 4, 0, 0.0, 4.0);
}

.FIR_label{
    -fx-text-fill: white;
    -fx-font-family: 'roboto';
    -fx-font-size: 24;
}

.FIR_buzzer{
    -fx-background-image: url("buzzer.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

.FIR_buzzer:pressed{
    -fx-background-image: url("buzzer-pressed.png");
}

.FIR_title{
    -fx-text-fill: white;
    -fx-font-family: 'candice';
    -fx-font-size: 32pt;
    -fx-effect: dropshadow(gaussian, rgba(128, 128, 128, 1), 1, 0, 0.0, 4.0);
}